
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-custom .navbar-toggler {
    border-color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-nav .nav-link.active{
    color: #0880AE;
    border-bottom: #0a53be;
    border-bottom: 2px solid;
}

.navbar-light .navbar-nav .nav-link{
    color:#252525;
}
.dropdown-toggle::after {
     vertical-align: 0em;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 28px rgba(0,0,0,0.01), 0 1px 10px rgba(0,0,0,0.1);
    font-family: Poppins-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    transition: padding 0.3s ease;

}
.text-dark{
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

    color:#434343;line-height:28px;
}
.text-primary{
    font-family: Poppins-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    color: #0880AE!important;line-height:28px;
}
.news-item{
    height: 114.66666412353516px;width: 100%;left: 1195px;top: 216px;border-radius: 0px;padding: 16px 32px 16px 32px;background-size: cover, 425px;background-position: center center;
}
.testimonial-item{
    box-sizing: border-box;/*position: absolute;*/height: 292px;/*left: 0px;*//*top: 0px;*/background: #FFFFFF;border: 1px solid #C1C7D0;border-bottom: none;
}
.testimonial-name{
    font-family: Poppins-Medium;font-size: 14px;font-weight: 600;line-height: 28px;letter-spacing: 0px;text-align: left;
}
.testimonial-position{
font-family: Poppins-Medium;font-size: 12px;font-weight: 500;line-height: 16px;letter-spacing: 0px;text-align: left
}
.testimonial-text{
    font-family: Poppins-Italic;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    position:relative;top:15px;
}
.testimonial-avatar{
    height: 50px;width: 50px;left: 4px;top: 310px;border-radius: 30px;
}
@media (max-width: 500px){
    .brand-text{
        display: none;
    }
    .brand-text2{
        display: block;
    }
}
@media (min-width: 500px){
    .brand-text{
        display: block;
    }
    .brand-text2{
        display: none;
    }
}
@media (max-width: 1000px) {

    .five-columns{
    }
    .border-div{
        border-top: 1px solid #C1C7D0;
        margin-left: 18px;
        margin-top: -18px;
    }
    .img-fluid{

    }
    .navbar-brand{
        margin-right:0px;
    }
}
@media (min-width: 1000px) {
    .navbar-brand{
        margin-right:10px;
    }
    .five-columns{
    }
    .border-div{
        border-top: 1px solid #C1C7D0;
        margin-left: 18px;
        margin-top: -18px;
    }
    .img-fluid{
        padding-right: 0px!important;
    }
    .brand-text{
        margin-left: 30px;
    }
}
@media (max-width: 1399px) {

    .five-columns{
    }
    .border-div{
        border-top: 1px solid #C1C7D0;
        margin-left: 18px;
        margin-top: -18px;
    }
    .img-fluid{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}
@media (min-width: 1400px) {
    .testimonial-item{
        width: 244px;
    }
    .five-columns{
        flex: 0 0 calc(20% - 10px);
        max-width: calc(20% - 10px);
        margin-bottom: 20px;
    }
    .border-div{
        border-top: 1px solid #C1C7D0;
        width: 98%;
        margin-left: 18px;
        margin-top: -18px;
    }
}

.container.without-p-r {
    padding-right: 0 !important;
}

.pagination li[aria-label="« Previous"] ,disabled span {
    display: none;
}
.pagination li[aria-label="Next »"] ,disabled span {
    display: none;
}
a[aria-label="Next »"] {
    color: #252525!important;
}
a[aria-label="« Previous"] {
    color: #252525!important;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li a,
.pagination li span {
    position: relative;
    float: left;
    padding: 7px 0px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #727272;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 30px;
}


.pagination li a:hover,
.pagination li a:focus,
.pagination li span:hover,
.pagination li span:focus {
    background-color: #eee;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
.pagination li a{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.pagination .active span {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
    cursor: default;
    border-radius: 40px;
    width: 40px;
    height: 40px;

}

.pagination .disabled span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.pagination .prev span:before {
    content: "\2039";
    vertical-align: middle;
}

.pagination .next span:after {
    content: "\203a";
    vertical-align: middle;
}
.square {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 292px;
    background: #FFFFFF;
    border-left: 1px solid #C1C7D0;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.diagonal-border-square{
    margin-left: 6px;
    box-sizing: border-box;
    /*width: 18px;*/
    height: 24px;
    top: 280px!important;
    background: #F5F5F5;
    border-left: 1px solid #C1C7D0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
}
.rating{
    color: #F26532;
    font-size: 15px;
}
.footer-title{
    color: #FFFFFF;
    font-family: Poppins-Medium;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;

}
.footer-item{
    color: #FFFFFF;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.footer-close-title{
    color: #FFFFFF;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.brand-text-top{
    font-family: Poppins-Regular;
    font-size: 12px;
    font-weight: 400;
    /*line-height: 16px;*/
    letter-spacing: 0px;
    text-align: left;
    color: #727272;
}
.brand-text-bottom{
    font-family: Poppins-Regular;
    font-size: 22px;
    font-weight: 400;
    /*line-height: 24px;*/
    letter-spacing: 0px;
    text-align: left;
    color: #252525;
}
.navbar-nav .dropdown-menu{
    position: absolute;
}
.dropdown-menu li {
    border-bottom: 1px solid #f1f1f1;
}
.dropdown > .dropdown-menu:first-of-type {
    margin-top: 30px;
}
.dropdown-menu-special{
    margin-top: -65px!important;
}
.dropdown-menu{
    padding: 0 0 ;
    border-radius: 0px;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.dropend .dropdown-menu[data-bs-popper] {
    top: 110px;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0rem;
}
.dropdown-menu[data-bs-popper]{
    margin-top: 30px;
    border-top: 1px #0a53be;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.dropdown-menu:first-of-type li:first-child {
    border-top: 2px solid #0880AE;
}
.dropdown-item{
    font-family: Poppins-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 1.2rem;
    box-shadow: 0 1px 28px rgba(0,0,0,0.01), 0 1px 10px rgba(0,0,0,0.1);
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #0880AE;
    background-color: #FFFFFF;
}
.loader {
    margin-top: 20px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.margin-top{
    margin-top: 10rem;
}
